
<!DOCTYPE html>
<html lang="lv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
        <title>Būvniecība</title>
    </head>
    <body class = "darbi-page">
        <main class="page-card2">
            <h1>Būvniecība</h1>
            <h2>Darbu saraksts</h2>
            <ul class="data-list">
                {% for darbs in darbi %}
                <li>
                    {{ darbs.Apraksts }}, Izmaksas: {{ darbs.izmaksas }} €
                    <hr>
                    Objekta adrese: {{ darbs.Adrese }}
                    <hr>
                    Plānotais beigu datums: {{ darbs.Beigu_datums }}
                </li>
                {% else %}
                <li>Darbu saraksts ir tukss.</li>
                {% endfor %}
            </ul>
            <a class="link" href="{{ url_for('pievienot_darbu') }}">Pievienot darbu</a>
            <a class="link" href="{{ url_for('rediget_darbus') }}">Rediģēt darbus</a>
            <a class="home_button" href="{{ url_for('index') }}">Atpakaļ</a>
        </main>
    </body>
</html>