<!DOCTYPE html>
<html lang="lv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
        <title>Dzest Objektu</title>
    </head>
    <body class="objekti-page">
        <main class="page-card">
            <h1>Buvnieciba</h1>
            <h2>Dzest Objektu</h2>
            <section class="form-section">
                <form method="post" class="edit-form">
                    <select name="id_objekts" required>
                        <option value="" disabled selected>Izvelies objektu</option>
                        {% for objekts in objekti %}
                        <option value="{{ objekts.id_objekts }}">
                            {{ objekts.Adrese }}
                        </option>
                        {% endfor %}
                    </select>
                    <button class="home_button" type="submit">Dzest</button>
                </form>
            </section>

            <a class="home_button" href="{{ url_for('rediget_objektus') }}">Atpakal uz redigesanu</a>
        </main>
    </body>
</html>
